*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container{
    display: flex;
    justify-content: center;
}

.card{
    background: white;
    width: 500px;
    margin: 15px;
    border-radius: 0;
}



.card h2{
    padding: 10px;
}
.card a{
    background-color: black;
    color: red;
    padding: 15px 20px;
    display: block;
    text-align: center;
    margin: 20px 50px;
}